* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Condensed', serif;
    background-color: rgb(246, 246, 246);
    transition: 2s;
}

/********** HEADER **********/
header {
    /* flex flex-row justify-between bg-azul-claro p-2 h-26 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    /* padding: 0.5rem; */
    height: 6.5rem;
}

header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo-link {
    /* flex flex-row justify-center items-center gap-2 p-2 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

header .logo-link .logo-image {
    width: 3rem;
}

header .logo-link .logo-title {
    font-size: 1.8rem;
    color: rgb(192, 172, 149);
}

header .nav {
    /* flex justify-center items-center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list {
    /* flex flex-row justify-between gap-4 h-full */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.2rem;
    height: 100%;
}

.menu-list .menu-item {
    /* flex justify-center items-center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list .menu-item .menu-item-link {
    /* px-3 py-2 rounded-lg hover:bg-azul-escuro hover:text-white duration-200 */
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 500;
    transition: 0.3s;
}

.menu-list .menu-item .menu-item-link:hover {
    /* background-color: rgb(136, 136, 136); */
    background-color: rgb(192, 172, 149);
    color: #fff;
}

/********** SECTION BANNER **********/
section#banner-section {
    /* w-full h-96 */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24rem;
    /* padding: 0 1rem; */
    background-image: url('./../../assets/compressed-img/schedule.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}

section#banner-section .view-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #232323;
    opacity: 0.8;
    z-index: 1;
}

#banner-section .banner-container {
    /* flex flex-col */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem;
    z-index: 9;
}

/* #banner-section .banner-container .banner-text {
    font-size: 1rem;
    color: #C0AC95;
    border-bottom: 1px solid #C0AC95;
    max-width: 7.5rem;
} */

#banner-section .banner-container .banner-title {
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}

#banner-section .banner-container .banner-subtitle {
    font-size: 1rem;
    color: rgba(255,255,255,  0.6);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}

/* #banner-section .banner-container .banner-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 120px;
    background-color: #C0AC95;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
} */

/* #banner-section .banner-container .banner-link:hover {
    background-color: #76634c;
    cursor: pointer;
} */

/********** CONTACT SECTION **********/
section#contact-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
}

section#contact-section .contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section#contact-section .decoration-line {
    height: 2px;
    width: 2.5rem;
    background-color: #C0AC95;
}

section#contact-section .contact-subtitle {
    padding: 0;
    font-size: 1rem;
    color: #C0AC95;
    text-transform: uppercase;
}

section#contact-section .contact-title {
    font-size: 2rem;
    text-transform: uppercase;
}

section#contact-section .contact-description {
    padding: 0;
    font-size: 1rem;
    color: #868686;
}

section#contact-section .contact-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0;
}

section#contact-section .contact-list .contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

section#contact-section .contact-list .contact-item .contact-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #dfdfdf;
    color: #878787;
    font-size: 1rem;
}

section#contact-section .contact-list .contact-item .contact-item-text {
    display: flex;
    flex-direction: column;
}

section#contact-section .contact-list .contact-item .contact-item-text .contact-item-label {
    font-size: 1rem;
    color: #868686;
}

section#contact-section .contact-list .contact-item .contact-item-text .contact-item-info {
    font-size: 1.2rem;
    color: #232323;
}

/********** SECTION FORM **********/
section#contact-section .contact-form-container {
    padding: 3rem 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.1);
}

section#contact-section .contact-form-container .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section#contact-section .contact-form-container .contact-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section#contact-section .contact-form-container .contact-form .form-group input {
    height: 2rem;
    padding: 1rem;
    border: 1px solid #878787;
    flex: 1;
}

section#contact-section .contact-form-container .contact-form .form-group input:hover,
section#contact-section .contact-form-container .contact-form .form-group input:focus {
    border: 1px solid #c0ac95;
    outline: 1px solid #c0ac95;
}

section#contact-section .contact-form-container .contact-form .form-group input::placeholder {
    font-size: 1rem;
    font-family: 'Barlow Condensed', serif;
    color: #9f9c9c;
}

section#contact-section .contact-form-container .contact-form .form-textarea-group {
    display: flex;
}

section#contact-section .contact-form-container .contact-form .form-textarea-group .form-textarea {
    flex: 1;
    padding: 1rem;
    border: 1px solid #878787;
}

section#contact-section .contact-form-container .contact-form .form-textarea-group .form-textarea::placeholder {
    font-size: 1rem;
    font-family: 'Barlow Condensed', serif;
    color: #9f9c9c;
}

section#contact-section .contact-form-container .contact-form .form-textarea-group .form-textarea:hover,
section#contact-section .contact-form-container .contact-form .form-textarea-group .form-textarea:focus {
    border: 1px solid #c0ac95;
    outline: 1px solid #c0ac95;
}

section#contact-section .contact-form-container .contact-form .form-button-container {
    display: flex;
    justify-content: start;
}

section#contact-section .contact-form-container .contact-form .form-button-container #form-submit-button {
    padding: 1rem 1.5rem;
    background-color: #C0AC95;
    color: #fff !important;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}

section#contact-section .contact-form-container .contact-form .form-button-container #form-submit-button:hover {
    background-color: #76634c;
    cursor: pointer;
}

/********** SECTION MAPS **********/
section#maps-section {
    /* padding: 2rem 0; */
}

section#maps-section #maps-canvas {
    height: 30rem;
}

#maps-canvas > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(1) {
    display: none;
}

/********** COMPONENT ACCORDION **********/
section#doubts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    padding: 3rem 1rem;
}

section#doubts-section .image-container {
    display: none;
    flex: 50%;
}
  
section#doubts-section .doubts-section-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #0003;
}

section#doubts-section .accordion-container {
    flex: 50%;
    /* width: 100%;
    max-width: 500px; */
    /* padding: 10px; */
    /* margin: auto 5px; */
    margin: 0;
    /* box-shadow: 0px 0px 8px #0003;
    background-color: white;
    border-radius: 8px; */
    /* box-shadow: -5px 5px var(--color-background-current),-5px 5px 0 1px var(--color-black); */
}

section#doubts-section .accordion-container .decoration-line {
    height: 2px;
    width: 2.5rem;
    background-color: #C0AC95;
}

section#doubts-section .accordion-container .doubts-subtitle {
    padding: 0.2rem 0 0 0;
    font-size: 1rem;
    color: #C0AC95;
    text-transform: uppercase;
}

section#doubts-section .accordion-container .doubts-title {
    padding: 0.5rem 0 1.5rem 0;
    font-size: 2rem;
    text-transform: uppercase;
}
  
section#doubts-section .accordion-container .accordion-list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 8px #0003;
    background-color: white;
    border-radius: 8px;
}
  
section#doubts-section .accordion-container .accordion-list-item .accordion-item {
    border-radius: 5px;
}
  
section#doubts-section .accordion-container .accordion-list-item .accordion-item:hover {
    opacity: 0.9;
}
  
section#doubts-section .accordion-container .accordion-list-item .accordion-item .accordion-header {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
section#doubts-section .accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s linear;
    font-size: 14px;
}
  
section#doubts-section .active {
    max-height: 300px;
}

section#doubts-section span {
    color: #232323;
    font-size: 1rem;
    font-weight: 600;
}

section#doubts-section .accordion-icon {
    color: #232323;
    font-size: 1.4rem;
    font-weight: 600;
}
  
p {
    padding: 0rem 1rem 1rem 1rem;
    text-align: justify;
}

/********** FOOTER **********/
footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1rem 4rem 1rem;
    background-color: #232323;
}

footer .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem
}

footer .logo-container .logo-image {
    width: 3rem;
}

footer .logo-container .logo-title {
    font-size: 1.8rem;
    color: rgb(192, 172, 149);
}

footer .contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer .footer-title {
    margin-bottom: 1rem;
    font-size: 24px;
    color: #fff;
}

.footer-contact-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-contact .footer-contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.footer-icon {
    width: 16px;
    height: 16px;
    color: #54595F;
}

.footer-contact .footer-contact-item:hover .footer-icon, 
.footer-contact .footer-contact-item:hover .footer-contact-text {
    color: #fff;
}


.footer-contact .footer-contact-text {
    font-size: 1rem;
    color: #54595F;
}

.footer-service-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #54595F;
}

.footer-services .footer-service-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.footer-services .footer-service-item:hover .footer-icon,
.footer-services .footer-service-item:hover .footer-service-text {
    color: #fff;
}

footer .footer-media .media-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;   
}

.media-list .media-link i {
    padding: 0.5rem;
    background-color: #fff;
    color: #232323;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.media-list .media-link i:hover {
    background-color: #868686;
    cursor: pointer;
}

/********** MODAL **********/
#modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 9;
    transition: 0.3s;
}

#modal-container.hide {
    opacity: 0;
    z-index: -1;
}

/* #modal-container.active-modal {
    display: flex;
    opacity: 1;
    z-index: 9;
    align-items: center;
} */

#modal-container #modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 32rem;
    width: 85%;
    /* height: 30vh; */
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 0px 1.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

#modal-container #modal .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#modal-container #modal .modal-header .modal-icon {
    color: #04AA0D;
    font-size: 2rem;
}

#modal-container #modal .modal-header .modal-title {
    font-size: 1.5rem;
}

#modal-container #modal .modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#modal-container #modal .modal-body .modal-body-content {
    font-size: 1rem;
    font-weight: 300;
}

#modal-container #modal .modal-body .modal-body-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

#modal-container #modal .modal-body .modal-body-buttons .modal-button {
    padding: 10px 16px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#modal-container #modal .modal-body .modal-body-buttons .modal-button:hover {
    opacity: 0.7;
    transition: 0.3s;
}

#modal-container #modal .modal-body .modal-body-buttons .modal-cancel-button {
    background-color: #DC2626;
}

#modal-container #modal .modal-body .modal-body-buttons .modal-ok-button {
    background-color: #04AA0D;
}